<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link href="../assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include ('partials/nav.ejs') %>
    <h1>Contact Page</h1>

    <p>Thanks for getting in touch with <%= data.who %> from <%= data.department %>!</p>

    
  </body>
</html>
